# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [197]:
# Imports
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# coding: utf8
import pandas as pd
import numpy as np

In [204]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records", encoding='utf-8')
purchase_file.head()

,Idade,Item ID,Login,Nome do Item,Sexo,Valor
0,38,165,Aelalis34,Bone Crushing Silver Skewer,Masculino,3.37
1,21,119,Eolo46,"Stormbringer, Dark Blade of Ending Misery",Masculino,2.32
2,34,174,Assastnya25,Primitive Blade,Masculino,2.46
3,21,92,Pheusrical25,Final Critic,Masculino,1.36
4,23,63,Aela59,Stormfury Mace,Masculino,1.27

## Informações sobre os consumidores

In [338]:
# Implemente aqui sua solução
player_demographics = purchase_file.loc[:, ['Login', 'Sexo', 'Idade']]
player_demographics.head()

          Login       Sexo  Idade
0     Aelalis34  Masculino     38
1        Eolo46  Masculino     21
2   Assastnya25  Masculino     34
3  Pheusrical25  Masculino     21
4        Aela59  Masculino     23

## Contagem de Consumidores

In [339]:
# Implemente aqui sua solução
player_demographics.Login.nunique()

573

In [344]:
# outra maneira - Limpeza de dados e remoção de duplicatas
player_demographics_2 = player_demographics.drop_duplicates()
player_count = player_demographics_2.count()[0]
player_count

573

In [348]:
# converter saída
pd.DataFrame({"Total de compradores" : [player_count]})

   Total de compradores
0                   573

## Análise Geral de Compras

In [378]:
# Implemente aqui sua solução
total_exclusive_itens = purchase_file['Item ID'].nunique()
average_price = purchase_file['Valor'].mean()
total_purchases = purchase_file['Item ID'].count()
total_price = purchase_file['Valor'].sum()

# construindo data frame
summary = pd.DataFrame({"Número de itens únicos" : total_exclusive_itens,
                       "Número de compras" : total_purchases,
                       "Total de vendas" : total_price,
                       "Preço Médio" : average_price}, index = [0])

# Data Munging or Data wrangling
summary = summary.round(2)
summary

   Número de itens únicos  Número de compras  Total de vendas  Preço Médio
0                     183                780          2286.33         2.93

## Informações Demográficas Por Gênero

In [372]:
# Implemente aqui sua solução
gender_count = player_demographics_2['Sexo'].value_counts()
gender_count

Masculino                465
Feminino                 100
Outro / Não Divulgado      8
Name: Sexo, dtype: int64

In [373]:
gender_percent = (gender_count/player_count)*100
gender_percent

Masculino                81.151832
Feminino                 17.452007
Outro / Não Divulgado     1.396161
Name: Sexo, dtype: float64

In [381]:
gender = pd.DataFrame({'Número de compradores' : gender_count, "%" : gender_percent}).round(1)
gender["%"] = gender["%"].map("{:,.1f}%".format)
gender

                       Número de compradores      %
Masculino                                465  81.2%
Feminino                                 100  17.5%
Outro / Não Divulgado                      8   1.4%

## Análise de Compras Por Gênero

In [392]:
# Implemente aqui sua solução
gender_average_item_price = purchase_file.groupby(by='Sexo').mean()['Valor']
gender_total_item_price = purchase_file.groupby(by='Sexo').sum()['Valor']
purchase_count = purchase_file.groupby(by=['Sexo']).count()['Valor']
normalized_total = gender_total_item_price/gender['Número de compradores']

# Construindo DataFrame
gender_purchasing_analysis = pd.DataFrame({"Número de Compas": purchase_count, 
                                           "Valor Médio por item" : gender_average_item_price,
                                          "Total de Vendas" : gender_total_item_price,
                                          "Total Normalizado" : normalized_total})

gender_purchasing_analysis = gender_purchasing_analysis.round(2)
gender_purchasing_analysis

,Número de Compas,Valor Médio por item,Total de Vendas,Total Normalizado
Sexo,,,,
Feminino,136,2.82,382.91,3.83
Masculino,633,2.95,1867.68,4.02
Outro / Não Divulgado,11,3.25,35.74,4.47

## Consumidores Mais Populares (Top 5)

In [403]:
# Implemente aqui sua solução
user_total = purchase_file.groupby(['Login']).sum()["Valor"].rename("Valor Total de Compra")
user_average = purchase_file.groupby(['Login']).mean()["Valor"].rename("Valor Médio de Compra")
user_count = purchase_file.groupby(['Login']).count()["Valor"].rename("Número de Compras")

# criando um dataframe
user_data = pd.DataFrame({"Valor Total de Compra" : user_total, "Valor Médio de Compra" : user_average, 
                          "Número de Compras" : user_count})

# Data Munging

user_data = user_data.round(2)
TOP_5 = user_data.sort_values("Valor Total de Compra", ascending=False).head(5)
TOP_5

             Valor Total de Compra  Valor Médio de Compra  Número de Compras
Login
Undirrala66                  17.06                   3.41                  5
Saedue76                     13.56                   3.39                  4
Mindimnya67                  12.74                   3.18                  4
Haellysu29                   12.73                   4.24                  3
Eoda93                       11.58                   3.86                  3

## Itens Mais Populares

In [ ]:
# Implemente aqui sua solução

## Itens Mais Lucrativos

In [ ]:
# Implemente aqui sua solução

## Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>